body {
  width: 100%
}

pre .comment, pre .title {
  color: #999
}

pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #f2777a
}

pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f99157
}

pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #9c9
}

pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #9c9
}

pre .css .hexcolor {
  color: #6cc
}

pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #69c
}

pre .keyword, pre .javascript .function {
  color: #c9c
}

.content-page {
  margin-right: 0 !important
}

.pagination>a, .pagination>span {
  display: inline-block;
  margin-left: 5px;
  border-radius: 25px !important;
  border: none;
  color: #868c93;
  padding: 6px 12px;
  position: relative;
  float: left;
  margin-left: -12px;
  margin-right: 17px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff
}

.pagination>a:hover {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
  z-index: 3
}

.pagination>a:first-child, .pagination>a:last-child {
  padding: 4px 12px 8px
}

.pagination span {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7
}

#page-nav {
  float: none !important;
  margin-bottom: 20px !important;
  margin-left: 5px
}

@media (max-width:480px) {
  .pre-header .list-inline li {
    margin-bottom: 2px
  }
  .page-header-fixed .pre-header {
    opacity: 0
  }
}

@media (max-width:767px) {
  .pre-header .pull-right {
    float: right !important
  }
}

@media (max-width:1024px) {
  .page-header-fixed .header-navigation {
    height: auto !important
  }
}

p {
  line-height: 1.5;
  font-size: 16px
}

h4 {
  line-height: 1.5 !important
}

.article-entry p, .article-entry li {
  text-align: inherit !important;
  line-height: 1.75em !important;
  font-size: 1.2em;
  color: #333
}

.article-entry h1, h2, h3, h4, h5 {
  margin-top: 20px
}

.blog-item .blog-info {
  margin-top: 10px !important
}

.blog-item img {
  margin: 16px 0
}

.image-strip {
  max-height: 300px;
  overflow: hidden
}

.row-corporate {
  height: 600px;
  background-size: cover !important;
  overflow: hidden;
  height: 600px
}

.flush-with-header {
  margin-top: -23px
}

.row-corporate img {
  height: 500px;
  margin-top: 100px
}

.row-corporate-text-container {
  height: 600px
}

.bg-light-1 {
  background: url("/metronic/assets/pages/img/frontend-slider/bg2_BK.jpg") no-repeat center
}

.bg-light-2 {
  background: url("/metronic/assets/pages/img/frontend-slider/bg4.jpg") no-repeat center
}

.row-corporate-text-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -.25em
}

.row-corporate-text {
  display: inline-block;
  vertical-align: middle;
  width: 99%
}

.mix-info {
  display: none
}

.mix_all {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease
}

.mix_all img {
  width: 100%
}

.btn-primary {
  color: #fff !important;
  border: 1px solid #e94d1c !important
}
