a {
  color: #EB4947;
}

a:hover {
  color: #EB4947;
}

.pre-header a:hover {
  color: #EB4947;
}

.header-navigation ul>li.active>a, .header-navigation ul>li>a:hover, .header-navigation ul>li>a:focus, .header-navigation ul>li.open>a, .header-navigation ul>li.open>a:hover, .header-navigation ul>li.open>a:focus {
  color: #EB4947;
}

.header-navigation li.menu-search i:hover {
  color: #EB4947;
}

.sidebar a:hover {
  color: #EB4947;
}

.sidebar .dropdown.open .dropdown-toggle:hover {
  color: #EB4947;
}

.sidebar-menu .dropdown-menu li>a:hover, .sidebar-menu .dropdown-menu li>a:focus, .sidebar-menu li.active>a, .sidebar-menu li.active>a:hover {
  color: #EB4947;
}

.content-page a:hover, .sidebar2 a:hover {
  color: #EB4947;
}

.content-page .link, .content-page .link:hover, .content-page .link:active {
  color: #EB4947;
}

.page-404 .number, .page-500 .number {
  color: #EB4947;
}

.front-team h3 strong {
  color: #EB4947;
}

.header-navigation>ul>li.dropdown:hover>a:after {
  border-bottom: 8px solid #e6400c;
}

.header-navigation .dropdown-menu>li>a:hover, .header-navigation .dropdown-menu>li.active>a, .header-navigation .header-navigation-content .header-navigation-col li>a:hover, .header-navigation .header-navigation-content .header-navigation-col li.active>a {
  background: #e6400c;
  color: #fff;
}

.header-navigation .dropdown-menu .header-navigation-content-ext li>a:hover, .header-navigation .dropdown-menu .header-navigation-content-ext li.active>a {
  background: #fff;
  color: #e6400c;
}

.header-navigation .search-box:after {
  border-bottom: 8px solid #e6400c;
}

.header-navigation .search-box {
  border-top: solid 2px #ea4c1d;
}

.title-wrapper h1 span {
  color: #e6400c;
}

.breadcrumb>.active {
  color: #e6400c;
}

.nav-tabs {
  border-color: #e6400c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: #e6400c;
}

.goods-data a, .checkout-page .checkout-description a {
  color: #e6400c;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: #E6400C;
  color: #fff;
}

.list-view-sorting a {
  background: #fff;
  color: #E6400C;
}

::-moz-selection {
  color: #fff;
  background: #e45000;
}

::selection {
  color: #fff;
  background: #e45000;
}

.steps-block ::-moz-selection {
  color: #e45000;
  background: #fff;
}

.steps-block ::selection {
  color: #e45000;
  background: #fff;
}

.steps-block-red {
  background: #e84d1c;
}

.blog-tags li i, .blog-info li i {
  color: #E84D1C;
}

.blog-posts .more, .blog-sidebar .more {
  color: #E84D1C;
}

.blog-photo-stream li img:hover {
  border-color: #E84D1C;
}

.blog-tags li a:hover {
  color: #fff;
  background: #E84D1C;
}

.blog-tags li a:hover:after {
  border-left-color: #E84D1C;
}

.sidebar-categories li>a:hover, .sidebar-categories li.active>a, .sidebar-categories li.active:hover>a {
  color: #E84D1C;
}

.blog-item blockquote {
  border-color: #E84D1C;
}

.blog-item h4.media-heading span a {
  color: #E84D1C;
}

.require {
  color: #e94d1c;
}

.header-navigation .dropdown-menu>li:first-child {
  border-top: 2px solid #EA4C1D;
}

.del-goods:hover, .add-goods:hover {
  background-color: #E94D1C;
}

.sidebar a:hover>.fa-angle-down {
  background-position: -11px 0;
}

.sidebar .collapsed:hover>.fa-angle-down {
  background-position: -11px -37px;
}

.front-skills .progress-bar {
  background: #EF4D2E;
}

.header .mobi-toggler:hover {
  background-color: #e34f00;
  border-color: #e34f00;
}

@media (max-width: 1024px) {
  .header .header-navigation li>a:hover, .header .header-navigation li.active>a, .header .header-navigation li.open>a:hover {
    color: #dd4632 !important;
  }
}

.mix-filter li:hover, .mix-filter li.active {
  background: #e44f00;
  color: #fff;
}

.mix-grid .mix .mix-details {
  background: #e44f00;
}

.mix-grid .mix a.mix-link, .mix-grid .mix a.mix-preview {
  background: #DB3A1B;
}

.header-navigation ul>li.active>a {
  border-bottom: 2px solid #e64f00;
}
