<% if(page.content){ %>
  <%- page.content %>
<% } else { %>
  <div class="container">
    <div id="main">
      <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
    </div>
  </div>
<% } %>
