<div class="container">
  <section id="main">
    <%- partial('_partial/post/title', {class_name: 'article-title', post: page,
    index: false}) %>
    <%- partial('_partial/article', {post: page, index: false}) %>
  </section>
</div>
