<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN COPYRIGHT -->
      <div class="col-md-12 col-sm-12 col-xs-12 padding-top-10">
        &copy; <%= date(new Date(), 'YYYY') %> Ramon Santos. Desenvolvido com <i class="fa fa-heart"></i> + Hexo.
      </div>
      <!-- END COPYRIGHT -->
    </div>
  </div>
</div>
<!-- END FOOTER -->
